<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<test name="Login">
		<groups>
			<define name="Hopscotch">
				<include name="Hopscotch" />
			</define>
			<run>
				<include name="Hopscotch" />
			</run>
		</groups>
		<classes>
			<class name="tests.ScriptFlows"/>
		</classes>
	</test>
</suite>